*{
    font-family: Arial, Helvetica, sans-serif;
}
.dogcard{
    text-align: center;
    margin-right: 33vw;
    margin-left: 33vw;
    margin-bottom: 2.5vh;
    color: white;
    box-shadow: 5px 2px 2px black;
    }
.dogcard > #main{
    background-color: green;
    
}
#img{
    padding-top: 10px;
}
button{
    background-color: white;
    border: 2px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 10vw;
}
