*{
    font-family: Arial, Helvetica, sans-serif;
}
.cadastro{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#btnEntrar{
    background-color: green ;
    color: white;
    margin-top: 5px;
    width: 140px;
    height: 23px;
}