*{
    font-family: Arial, Helvetica, sans-serif;
}
.adotante{
    text-align: center;
    margin-right: 33vw;
    margin-left: 33vw;
    color: white;
    box-shadow: 5px 2px 2px black;
    }
.adotante > #body{
    background-color: green;
}
#img{
    padding-top: 10px;
}

#h2Perfil{
    color: black;
    text-align: center;
}